@model IEnumerable<TipoEquipo>

<h2>Tipos de Equipos</h2>

<a asp-action="Crear" class="btn btn-outline-success"><i class="bi bi-cloud-plus"></i> Nuevo Tipo de Equipo</a>
<a asp-action="Index" asp-controller="Equipos" class="btn btn-outline-secondary">Cancelar</a>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Tipo de Equipo</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID_tipo_equipo</td>
                <td>@item.Tipo_Equipo</td>
                <td>@item.Creacion_Tipo_Equipo</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.ID_tipo_equipo" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i> Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.ID_tipo_equipo" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>