@model IEnumerable<TipoEquipo>

<div class="text-center">
    <h2 class="text-center">Tipos de Equipos</h2>
    <button id="exportButton" class="btn btn-success m-2">
        <img src="~/icons/file-excel-regular.svg" style="width: 16px; height: 16px;"> Exportar a Excel
    </button>
</div>
<a asp-action="Crear" class="btn btn-success m-2">Nuevo Tipo de Equipo</a>
<a asp-action="Index" asp-controller="Equipos" class="btn btn-secondary m-2">Cancelar</a>

<table class="table table-bordered" id="tipoEquiposTable">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Tipo de Equipo</th>
            <th>Fecha de Creación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID_tipo_equipo</td>
                <td>@item.Tipo_Equipo</td>
                <td>@item.Creacion_Tipo_Equipo</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.ID_tipo_equipo" class="btn btn-warning btn-sm">
                        <img src="~/icons/pencil-square.svg" style="width: 16px; height: 16px;">
                    </a>
                    <a asp-action="Eliminar" asp-route-id="@item.ID_tipo_equipo" class="btn btn-danger btn-sm">
                        <img src="~/icons/trash-can-regular.svg" style="width: 16px; height: 16px;">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* script para exportar a excel *@
<script>
    document.getElementById('exportButton').addEventListener('click', function () {
        // Obtener la tabla HTML
        let table = document.getElementById('tipoEquiposTable');

        // Convertir tabla HTML a una hoja de cálculo
        let workbook = XLSX.utils.table_to_book(table, { sheet: "TiposDeEquipos" });

        // Exportar el archivo
        XLSX.writeFile(workbook, "TiposDeEquipos.xlsx");
    });
</script>
