@model Minosa_Proyecto_v._1.Models.Radio

<form asp-action="Crear" method="post" class="container text-start mt-2 needs-validation" novalidate>
    <div class="container text-center m-2">

        <h2>Agregar Nuevo Radio</h2>
        
        <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-triangle-exclamation"></i> Cancelar</a>
    </div>

    <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded p-4 card">
        <div class="card-header bg-primary text-white m-2">
            <h3><i class="fas fa-info-circle"></i> Datos Básicos del Equipo</h3>
        </div>

        <div class="row">
            <div class="form-group col-1">
                <label for="Activo">Activo</label>
                <input type="checkbox" asp-for="Activo" class="form-check-input" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label for="ID_tipo_equipo">Tipo de Equipo</label>
                <select asp-for="ID_tipo_equipo" asp-items="Model.TiposEquipos" class="form-control"></select>
            </div>

            <div class="form-group col-6">
                <label for="ID_proveedor">Proveedor</label>
                <select asp-for="ID_proveedor" asp-items="Model.Proveedores" class="form-control"></select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="ID_modelo">Modelo</label>
                <select asp-for="ID_modelo" asp-items="Model.Modelos" class="form-control"></select>
            </div>

            <div class="form-group col">
                <label for="ID_area">Área</label>
                <select asp-for="ID_area" asp-items="Model.Areas" class="form-control"></select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="ID_ip">Dirección IP</label>
                <select asp-for="ID_ip" asp-items="Model.IPs" class="form-control"></select>
            </div>

            <div class="form-group col">
                <label for="NumeroSerie">Número de Serie</label>
                <input type="text" asp-for="NumeroSerie" class="form-control" value='2323' />
                <span asp-validation-for="NumeroSerie" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Descripcion">Descripción</label>
                <input type="text" asp-for="Descripcion" class="form-control" value='e' />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label for="Estado">Estado</label>
                <input type="text" asp-for="Estado" class="form-control" value="activo" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col">
                <label for="Respaldo">Respaldo</label>
                <textarea asp-for="Respaldo" class="form-control"  ></textarea>
                <span asp-validation-for="Respaldo" class="text-danger"></span>
            </div>
    
            <div class="form-group col">
                <label for="Observaciones">Observaciones</label>
                <textarea asp-for="Observaciones" class="form-control"   ></textarea>
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded p-4 card">
        <div class="card-header bg-secondary text-white m-2">
            <h3><i class="fas fa-tools"></i> Detalles Técnicos</h3>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Tipo_Voltaje">Tipo de Voltaje</label>
                <input type="text" asp-for="Tipo_Voltaje" class="form-control" value='e'/>
                <span asp-validation-for="Tipo_Voltaje" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label for="Voltaje">Voltaje</label>
                <input type="number" asp-for="Voltaje" class="form-control" value=3/>
                <span asp-validation-for="Voltaje" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Amperaje">Amperaje</label>
                <input type="number" asp-for="Amperaje" class="form-control" value=3/>
                <span asp-validation-for="Amperaje" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label for="Voltaje_Energia">Voltaje de Energía</label>
                <input type="text" asp-for="Voltaje_Energia" class="form-control" value='e' />
                <span asp-validation-for="Voltaje_Energia" class="text-danger"></span>
            </div>
            
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Num_Puertos_SFP">Número de Puertos SFP</label>
                <input type="number" asp-for="Num_Puertos_SFP" class="form-control" value=3/>
                <span asp-validation-for="Num_Puertos_SFP" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label for="Num_Puertos_RJ45">Número de Puertos RJ45</label>
                <input type="number" asp-for="Num_Puertos_RJ45" class="form-control" value=3 />
                <span asp-validation-for="Num_Puertos_RJ45" class="text-danger"></span>
            </div>
            
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Fecha_Garantia">Fecha de Garantía</label>
                @{  
                   var today2 = DateTime.Today.ToString("yyyy-MM-dd");  
                }  

                <input type="date" asp-for="Fecha_Garantia" class="form-control" value="@today2" />
            </div>
            <div class="form-group col">
                <label for="Fecha_Compra">Fecha de Compra</label>
                @{
                    var today = DateTime.Today.ToString("yyyy-MM-dd");
                }
                <input type="date" asp-for="Fecha_Compra" class="form-control" value="@today" />

            </div>
            
        </div>
        <div class="row">
            
            <div class="form-group col">
                <label for="Tipo_Garantia">Tipo de Garantía</label>
                <input type="text" asp-for="Tipo_Garantia" class="form-control" value='e' />
                <span asp-validation-for="Tipo_Garantia" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label for="Firmware">Firmware</label>
                <input type="text" asp-for="Firmware" class="form-control" value='e'/>
                <span asp-validation-for="Firmware" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Usuario">Usuario</label>
                <input type="text" asp-for="Usuario" class="form-control" value='e'/>
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label for="Contracena">Contraseña</label>
                <input type="text" asp-for="Contracena" class="form-control" value='e'/>
                <span asp-validation-for="Contracena" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Ultima_Actualizacion">Última Actualización</label>
                <input type="text" asp-for="Ultima_Actualizacion" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Ultima_Actualizacion" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label for="Fecha_Instalacion">Fecha de Instalación</label>
                <input type="text" asp-for="Fecha_Instalacion" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Fecha_Instalacion" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="MAC_Address">MAC Address</label>
                <input type="text" asp-for="MAC_Address" class="form-control" value='e' />
                <span asp-validation-for="MAC_Address" class="text-danger"></span>
            </div>
            
            <div class="form-group col">
                <label for="Canal">Canal</label>
                <input type="text" asp-for="Canal" class="form-control" value='e' />
                <span asp-validation-for="Canal" class="text-danger"></span>

            </div>
            
        </div>
    </div>

    <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded p-4 card">
        <div class="card-header bg-info text-white m-2">
            <h3><i class="fas fa-tools"></i> Parámetros de Radio</h3>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Frecuencia">Frecuencia</label>
                <input type="text" asp-for="Frecuencia" class="form-control" value='e' />
                <span asp-validation-for="Frecuencia" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label for="Frecuencia_Rango">Frecuencia Rango</label>
                <input type="text" asp-for="Frecuencia_Rango" class="form-control" value='e'/>
                <span asp-validation-for="Frecuencia_Rango" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Modo">Modo</label>
                <input type="text" asp-for="Modo" class="form-control" value='e'/>
                <span asp-validation-for="Modo" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label for="Ssid">SSID</label>
                <input type="text" asp-for="Ssid" class="form-control" value='e'/>
                <span asp-validation-for="Ssid" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Modulacion">Modulación</label>
                <input type="text" asp-for="Modulacion" class="form-control" value='e'/>
                <span asp-validation-for="Modulacion" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label for="Potencia">Potencia</label>
                <input type="text" asp-for="Potencia" class="form-control" value='e'/>
                <span asp-validation-for="Potencia" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Tx_Power">Tx Power</label>
                <input type="text" asp-for="Tx_Power" class="form-control" value='e'/>
                <span asp-validation-for="Tx_Power" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label for="Rx_Level">Rx Level</label>
                <input type="text" asp-for="Rx_Level" class="form-control" value='e'/>
                <span asp-validation-for="Rx_Level" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="Tx_Freq">Tx Freq</label>
                <input type="text" asp-for="Tx_Freq" class="form-control" value='e'/>
                <span asp-validation-for="Tx_Freq" class="text-danger"></span>
            </div>
            <div class="form-group col">

            </div>
        </div>
    </div>
   
</form>

@if (ViewBag.Error != null)
{
        <div class="alert alert-danger">@ViewBag.Error</div>
}