@model Minosa_Proyecto_v._1.Models.Radio

<h2 class="text-center my-4 text-primary">Detalles del Radio</h2>

<div class="text-center m-3">
    <a asp-action="Editar" asp-route-id="@Model.ID_equipo" class="btn btn-warning mx-1">
        <i class="fa-solid fa-edit"></i> Editar
    </a>
    <a asp-action="Eliminar" asp-route-id="@Model.ID_Radio" class="btn btn-danger mx-1">
        <i class="fa-solid fa-trash-alt"></i> Eliminar
    </a>
    <a asp-action="Index" asp-controller="Radio" class="btn btn-secondary mx-1">
        <i class="fa-solid fa-times-circle"></i> Cancelar
    </a>
</div>

<div class="container shadow-lg p-4 bg-light rounded">
    <!-- Card 1: Datos Básicos del Radio -->
    <div class="card mb-4 border-info">
        <div class="card-header bg-info text-white">
            <h3><i class="fa-solid fa-info-circle"></i> Datos Básicos del Radio</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bold text-info">Frecuencia:</label>
                        <p class="form-control-plaintext">@Model.Frecuencia</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-info">Frecuencia Rango:</label>
                        <p class="form-control-plaintext">@Model.Frecuencia_Rango</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-info">Modo:</label>
                        <p class="form-control-plaintext">@Model.Modo</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-info">SSID:</label>
                        <p class="form-control-plaintext">@Model.Ssid</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-info">Modulación:</label>
                        <p class="form-control-plaintext">@Model.Modulacion</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bold text-info">Potencia:</label>
                        <p class="form-control-plaintext">@Model.Potencia</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-info">Tx Power:</label>
                        <p class="form-control-plaintext">@Model.Tx_Power</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-info">Rx Level:</label>
                        <p class="form-control-plaintext">@Model.Rx_Level</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-info">Tx Freq:</label>
                        <p class="form-control-plaintext">@Model.Tx_Freq</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card 2: Detalles del Equipo -->
    
    <div class="card mb-4 border-primary">
        <div class="card-header bg-primary text-white">
            <h3><i class="fa-solid fa-info-circle"></i> Detalles del Equipo</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bold text-primary">Tipo de Equipo:</label>
                        <p class="form-control-plaintext">@Model.Tipo_Equipo</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Proveedor:</label>
                        <p class="form-control-plaintext">@Model.Nombre_Proveedor</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Modelo:</label>
                        <p class="form-control-plaintext">@Model.Nombre_Modelo</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Área:</label>
                        <p class="form-control-plaintext">@Model.Nombre_Area</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Dirección IP:</label>
                        <p class="form-control-plaintext">@Model.Direccion_IP</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Número de Serie:</label>
                        <p class="form-control-plaintext">@Model.NumeroSerie</p>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bold text-primary">Descripción:</label>
                        <p class="form-control-plaintext">@Model.Descripcion</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Estado:</label>
                        <p class="form-control-plaintext">@Model.Estado</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Activo:</label>
                        <p class="form-control-plaintext">@Model.Activo</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Respaldo:</label>
                        <p class="form-control-plaintext">@Model.Respaldo</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-primary">Observaciones:</label>
                        <p class="form-control-plaintext">@Model.Observaciones</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 3: Detalles Técnicos del Equipo -->
    
    <div class="card mb-4 border-secondary">
        <div class="card-header bg-secondary text-white">
            <h3><i class="fa-solid fa-tools"></i> Detalles Técnicos del Equipo</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Tipo de Voltaje:</label>
                        <p class="form-control-plaintext">@Model.Tipo_Voltaje</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Voltaje:</label>
                        <p class="form-control-plaintext">@Model.Voltaje</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Amperaje:</label>
                        <p class="form-control-plaintext">@Model.Amperaje</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Puertos RJ45:</label>
                        <p class="form-control-plaintext">@Model.Num_Puertos_RJ45</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Puertos SFP:</label>
                        <p class="form-control-plaintext">@Model.Num_Puertos_SFP</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Fecha de Compra:</label>
                        <p class="form-control-plaintext">@Model.Fecha_Compra.ToString("yyyy-MM-dd")</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Fecha de Garantía:</label>
                        <p class="form-control-plaintext">@Model.Fecha_Garantia.ToString("yyyy-MM-dd")</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Tipo de Garantía:</label>
                        <p class="form-control-plaintext">@Model.Tipo_Garantia</p>
                    </div>
                </div>
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Firmware:</label>
                        <p class="form-control-plaintext">@Model.Firmware</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Usuario:</label>
                        <p class="form-control-plaintext">@Model.Usuario</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Contraseña:</label>
                        <p class="form-control-plaintext">@Model.Contracena</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">MAC Address:</label>
                        <p class="form-control-plaintext">@Model.MAC_Address</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Fecha de Instalación:</label>
                        <p class="form-control-plaintext">@Model.Fecha_Instalacion</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Última Actualización:</label>
                        <p class="form-control-plaintext">@Model.Ultima_Actualizacion</p>
                    </div>
                    <div class="form-group">
                        <label class="fw-bold text-secondary">Voltaje de Energía:</label>
                        <p class="form-control-plaintext">@Model.Voltaje_Energia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger mt-3 text-center">
            <i class="fa-solid fa-exclamation-circle"></i> @ViewBag.Error
        </div>
    }
</div>
