@model List<Minosa_Proyecto_v._1.Models.EquipoViewModel>

<h2>Lista de Equipos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Número de Serie</th>
            <th>Descripción</th>
            <th>Tipo de Equipo</th>
            <th>Modelo</th>
            <th>Área</th>
            <th>Dirección IP</th>
            <th>Estado</th>
            <th>Activo</th>
            <th>Respaldo</th>
            <th>Observaciones</th>
            <th>Acciones</th> <!-- Nueva columna para los enlaces -->
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model)
        {
                <tr>
                    <td>@equipo.NumeroSerie</td>
                    <td>@equipo.Descripcion</td>
                    <td>@equipo.Tipo_Equipo</td>
                    <td>@equipo.Modelo</td>
                    <td>@equipo.Area</td>
                    <td>@equipo.Direccion_IP</td>
                    <td>@equipo.Estado</td>
                    <td>@equipo.Activo</td>
                    <td>@equipo.Respaldo</td>
                    <td>@equipo.Observaciones</td>
                    <td>
                        <a href="@Url.Action("Detalles", "EquiposDetalles", new { id = equipo.ID_equipo })" class="btn btn-info">Ver Detalles</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<a asp-controller="EquiposDetalles" asp-action="Crear" class="btn btn-primary">Agregar Nuevo Equipo</a>
<a asp-controller="Proveedores" asp-action="Index" class="btn btn-secondary">Ver Proveedores</a>
<a asp-controller="TipoEquipos" asp-action="Index" class="btn btn-secondary">Ver Tipos de Equipo</a>
<a asp-controller="Modelos" asp-action="Index" class="btn btn-secondary">Ver Modelos</a>
<a asp-controller="Marcas" asp-action="Index" class="btn btn-secondary">Ver Marcas</a>
<a asp-controller="Areas" asp-action="Index" class="btn btn-secondary">Ver Áreas</a>
<a asp-controller="Zonas" asp-action="Index" class="btn btn-secondary">Ver Zonas</a>
<a asp-controller="Materiales" asp-action="Index" class="btn btn-secondary">Ver Materiales</a>
<a asp-controller="DireccionesIp" asp-action="Index" class="btn btn-secondary">Ver Direcciones IP</a>
<a asp-controller="Vlans" asp-action="Index" class="btn btn-secondary">Ver VLANs</a>


@if (ViewBag.Error != null)
{
        <div class="alert alert-danger">
        @ViewBag.Error
        </div>
}
