@model IEnumerable<Destinatario>


<div class="text-center">
    <h2 class="text-center">Lista de Destinatarios</h2>
    <button id="exportButton" class="btn btn-success m-2">
        <i class="fas fa-file-excel"></i> Exportar a Excel
    </button>
    <a asp-controller="CorreoSettings" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-folder-plus"></i> Gestion Correo</a>
</div>
<div class="col-md-3 col-12 mb-2">
    

</div>
<div class="shadow-lg">
    <table class="table table-bordered rounded-3" id="destinatariosTable">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Descripción</th>
                <th>Alerta</th>
                @* <th>Acciones</th> *@
                <th>
                    <a asp-action="Crear" class="btn btn-success"><i class="bi bi-envelope-plus"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var destinatario in Model)
            {
                <tr class="">
                    <td>@destinatario.Nombre_Destinatario</td>
                    <td>@destinatario.Correo_Destinatario</td>
                    <td>@destinatario.Descripcion_Destinatario</td>
                    <td>@destinatario.Nombre_Alerta</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@destinatario.ID_destinatario" class="btn btn-warning"><i class="bi bi-pen"></i></a>
                        <a asp-action="Eliminar" asp-route-id="@destinatario.ID_destinatario" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                    </td>
                
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script>
        document.getElementById('exportButton').addEventListener('click', function () {
        // Obtener la tabla HTML
        let table = document.getElementById('destinatariosTable');

        // Convertir tabla HTML a una hoja de cálculo
        let workbook = XLSX.utils.table_to_book(table, { sheet: "Destinatarios" });

        // Exportar el archivo
        XLSX.writeFile(workbook, "Destinatarios.xlsx");
    });

</script>