@model List<Proveedor>

<div class="text-center">
    <h2 class="text-center">Proveedores</h2>
    <button id="exportButton" class="btn btn-success m-2">
        <img src="~/icons/file-excel-regular.svg" style="width: 16px; height: 16px;"> Exportar a Excel
    </button>
</div>
<a asp-action="Crear" class="btn btn-primary m-2">Nuevo Proveedor</a>
<a asp-action="Index" asp-controller="Equipos" class="btn btn-secondary m-2">Cancelar</a>

<table class="table table-bordered" id="provedoresTable">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proveedor in Model)
        {
            <tr>
                <td>@proveedor.ID_proveedor</td>
                <td>@proveedor.Nombre</td>
                <td>@proveedor.Direccion</td>
                <td>@proveedor.Telefono</td>
                <td>@proveedor.Correo</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@proveedor.ID_proveedor" class="btn btn-warning btn-sm">
                        <img src="~/icons/pencil-square.svg" style="width: 16px; height: 16px;">
                    </a>
                    <a asp-action="Eliminar" asp-route-id="@proveedor.ID_proveedor" class="btn btn-danger btn-sm">
                        <img src="~/icons/trash-can-regular.svg" style="width: 16px; height: 16px;">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.getElementById('exportButton').addEventListener('click', function () {
        // Obtener la tabla HTML
        let table = document.getElementById('provedoresTable');

        // Convertir tabla HTML a una hoja de cálculo
        let workbook = XLSX.utils.table_to_book(table, { sheet: "Proveedores" });

        // Exportar el archivo
        XLSX.writeFile(workbook, "Proveedores.xlsx");
    });
</script>
